/* Background Image */
html, body {
    background-image: url(../images/goldenhourbeach.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Navbar Header */
.text-white {
    text-align: center;
    opacity: 80%;
}

.main {
    opacity: 10%;
}

.container {
    margin-top: 100px;
    /* margin-left: 210px; */
    opacity: 80%;
    width: 1000px;
}

#search {
    display: inline-block;
}

#entry {
    display: inline-block;
}

.row {
    height: 250px;
}

/* Search bar and results */
.date {
    font-size: 15px;
    font-weight: bold;
}

button {
    border-radius: 25px;
    background-color: rgb(102, 206, 224);
    padding: 5px;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    /* clear: right; */
}

h4 {
    margin-top: 15px;
}

h5 {
    font-weight: normal;
}
#date {
    display: inline-block;
}

#icon {
    display: none;
    display: inline-block;
    margin-left: 2px;
    background-color: rgb(102, 206, 224);
    border-radius: 25px;
    border: 2px solid grey;
}

#cityName {
    display: inline-block;
}

div {
    font-size: 11pt;
}

#results {
    margin-top: 45px;
}

#temperature {
    margin-left: 8px;
}

#humidity {
    margin-left: 8px;
}

#windspeed {
    margin-left: 8px;
}

#uvindex {
    margin-left: 8px;
}

.low {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.high {
    background-color: orange;
    color: white;
}

.veryhigh {
    background-color: red;
    color: white;
}

li {

}

/* 5-Day Forecast */
p {
    font-size: 11pt;
}

h3 {
    margin-left: 10px;
}

h6 {
    font-size: 11pt;
}

#oneday {
    margin-top: 25px;
    margin-left: 20px;
    height: 140px;
    width: 140px;
    background-color: rgb(102, 206, 224);
    opacity: 90%;
}

#twodays {
    margin-top: 25px;
    margin-left: 20px;
    height: 140px;
    width: 140px;
    background-color: rgb(145, 208, 219);
    opacity: 90%;
}

#threedays {
    margin-top: 25px;
    margin-left: 20px;
    height: 140px;
    width: 140px;
    background-color: rgb(215, 221, 223);
    opacity: 90%;
}

#fourdays {
    margin-top: 25px;
    margin-left: 20px;
    height: 140px;
    width: 140px;
    background-color: rgb(245, 208, 160);
    opacity: 90%;
}

#fivedays {
    margin-top: 25px;
    margin-left: 20px;
    height: 140px;
    width: 140px;
    background-color: rgb(248, 179, 148);
    opacity: 90%;
}

/* Navbar Footer */
.footer {
    opacity: 60%;
    color: white;
}